

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'sportsworld';
  src: url('../fonts/sportsworld/SportsWorld.eot?#iefix') format('embedded-opentype'),  url('../fonts/sportsworld/SportsWorld.otf')  format('opentype'),
	   url('../fonts/sportsworld/SportsWorld.woff') format('woff'), url('../fonts/sportsworld/SportsWorld.ttf')  format('truetype'), url('../fonts/sportsworld/SportsWorld.svg#SportsWorld') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fuente_deporte{
	font-family: sportsworld;
}
#prehome{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-image: url(../img/animado_04.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	font-family: sportsworld;
	font-size: 50px;
    color: #eddd00;
}
#prehome img{
	/*margin-top: 10%;*/
}
#carrera{
	display: none;
}
.animal{
	display: block;
}
#isotipo{
	position: fixed;
	top:10px;
	right: 10px;
	z-index: 9;
}
.track{
	position: relative;
	width: 100%;
	background: url(../img/patron.png) #87240d;
	border-bottom: 5px dashed #eddd00;
}
.plantas{
	position: absolute;
    width: 100%;
    background: url(../img/plantas.png);
    height: 60px;
    bottom: 0px;
}
.bonus
{
	margin-right: 10px;
	margin-top: 10px;
}
.opacidad{
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	display: none;
}
.popup_error{
	background: #FFF;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	margin-top: -210px;
	-webkit-box-shadow: 6px 3px 38px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 3px 38px -2px rgba(0,0,0,0.75);
	box-shadow: 6px 3px 38px -2px rgba(0,0,0,0.75);
}
.imagenGanador{
	float: left;
	width: 100%;
	padding: 10px;
	background: #FFF;
}
.imagenGanador img{
	float: left;
	width: 100%;
}
#closeBtn{
	background: url(../img/close_icon.png) no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
    border-radius: 50px;
    cursor: pointer;
	text-align: center;
    font-size: 24px;
	cursor: pointer;
}













